@import url("chrome://global/skin/");
@import url("chrome://v_identity/locale/logo.css"); 
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#fcc_switch[vid="false"] {
	display: none;
}

#msgIdentity_clone .smtpServerListHbox {
	margin: 0px;
	-moz-appearance: textfield;
}
.smtpServerListHbox {
	-moz-binding: url("chrome://v_identity/content/v_identity.xml#smtpServerList");
}
#vI_rdfDataEditorContent checkbox.vI_plain {
	display: none;
}

.smtpServerHbox {
	margin: -1px 0px -1px -1px;
}

.identity_clone-menulist .contentHbox {
	padding-right: 0.25em;
}

.identity_clone-menulist .smtpServerMenuList {
	border-style: none;
	-moz-appearance: none;
	margin: 0px;
	padding: 0px;
	color: graytext;
	text-align: center;
	background-color: transparent;
}

.identityHbox, .baseIDHbox, .smtpServerHbox {
	background-color: transparent;
}
.identityHbox[checked="true"][colorize="true"], .baseIDHbox[checked="true"][colorize="true"], .smtpServerHbox[checked="true"][colorize="true"] {
	background-color: rgb(235, 245, 235);
}
.identityHbox {
	padding-right: 0.25em;
}
.baseIDHbox {
	padding-left: 0.25em;
}
.baseIDHbox[checked="true"][colorize="true"][disabled="true"], .smtpServerHbox[checked="true"][colorize="true"][disabled="true"] {
	background-color: transparent;
}

checkbox.vI_plain > .checkbox-spacer-box > .checkbox-check {
	width: 0px;
}
checkbox.vI_plain > .checkbox-label-center-box, checkbox.vI_plain > .checkbox-label-box {
	display: none;
}

checkbox.vI_plain {
	margin: 0px;
	height: 0px;
	padding: 0px;
}

.widthXX { width: 36em; }
.widthX { width: 18em; }
.heightS { height: 3px; }
spacer#beforeStorage { width: 100px; }
spacer.widthS { width : 20px; }
spacer.paragraph { height: 10px; }

tabpanels.plain {
	border: medium none  ! important;
	-moz-appearance: none ! important;
}

tree.vIprefTree {
	width: 15em;
}

#viewGroup {
	padding: 5px;
}

#viewGroup radio {
	-moz-appearance: none;
	min-width: 4.5em;
	margin: 0;
	padding: 3px;
	list-style-image: url("chrome://v_identity/skin/PrefIcons.png");
	-moz-box-orient: vertical;
	-moz-box-align: center !important;
}

#viewGroup radio:hover {
	border: 1px solid #ff9c9c;
	margin: -1px;
	background-color: white;
	background-color: transparent;
}

#viewGroup radio[selected="true"] {
	border: 1px solid #870000;
	margin: -1px;
	background-color: white;
	background-color: transparent;
}

radio#sourceEmail 			{ -moz-image-region: rect(0px, 338px, 52px, 280px) }
radio#sourceEmail[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 338px, 156px, 280px) }
radio#sourceEmail:hover 		{ -moz-image-region: rect(52px, 338px, 104px, 280px) }
radio#selection 		{ -moz-image-region: rect(0px, 168px, 52px, 112px) }
radio#selection[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 168px, 156px, 112px) }
radio#selection:hover 		{ -moz-image-region: rect(52px, 168px, 104px, 112px) }
radio#composeDialog 			{ -moz-image-region: rect(0px, 112px, 52px, 56px) }
radio#composeDialog[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 112px, 156px, 56px) }
radio#composeDialog:hover 		{ -moz-image-region: rect(52px, 112px, 104px, 56px) }
radio#emailOut 			{ -moz-image-region: rect(0px, 56px, 52px, 0px) }
radio#emailOut[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 56px, 156px, 0px) }
radio#emailOut:hover 		{ -moz-image-region: rect(52px, 56px, 104px, 0px) }
radio#storageOut 			{ -moz-image-region: rect(0px, 280px, 52px, 224px) }
radio#storageOut[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 280px, 156px, 224px) }
radio#storageOut:hover 			{ -moz-image-region: rect(52px, 280px, 104px, 224px) }
radio#options 			{ -moz-image-region: rect(0px, 393px, 52px, 335px) }
radio#options[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 393px, 156px, 335px) }
radio#options:hover 		{ -moz-image-region: rect(52px, 393px, 104px, 335px) }

#viewGroup image.arrow {
	list-style-image: url("chrome://v_identity/skin/Arrows.png");
}

image#toSelection, image#toCompose, image#toSend { -moz-image-region: rect(0px, 64px, 30px, 47px) }
image#toSelection[featureDisabled="true"], image#toCompose[featureDisabled="true"], image#toSend[featureDisabled="true"] 	{ -moz-image-region: rect(30px, 64px, 60px, 47px) }
image#storageUpDown 			{ -moz-image-region: rect(0px, 30px, 30px, -1px) }
image#storageUpDown[featureDisabled="true"] 	{ -moz-image-region: rect(30px, 30px, 60px, -1px) }
image#storageUp 			{ -moz-image-region: rect(0px, 48px, 30px, 30px) }
image#storageUp[featureDisabled="true"]		{ -moz-image-region: rect(30px, 48px, 60px, 30px) }


#prefTabbox {
	border: 1px inset threedface; padding: 5px; background-color: white;
}

#prefTabbox tabpanels {
	padding: 0px;
}

#prefTabbox tabpanel {
	padding: 8px; background-color: -moz-dialog;
}

#prefTabbox tabs {
	padding-left: 8px;
}

.paneButtonIcon {
	width: 56px;
	height: 52px;
}

treechildren::-moz-tree-cell(no) {
	background-repeat:no-repeat;
	background-position: center;
	background-image: url("chrome://v_identity/skin/notchecked-unequal.png");
}
treechildren::-moz-tree-cell(yes) {
	background-repeat:no-repeat;
	background-position: center;
	background-image: url("chrome://v_identity/skin/checked-unequal.png");
}

#vI_statusMenuTooltip {
	text-align: center;
	font-size: x-small;
}

#vI_statusMenuTooltip_StatusValueLine1, #vI_statusMenuTooltip_StatusValueLine2 {
	font-weight: bold;
	font-size: small;
}

#vI_statusMenuTooltip_Change {
	margin-top: 1em;
	font-style: italic;
}

#vINotificationTitle {
	text-align: right;
	font-weight: bold;
}

#vINotificationTextbox {
	background-color: transparent;
	margin: 5px !important;
	margin-left: 20px !important;
	-moz-border-top-colors: grey;
	-moz-border-right-colors: grey;
	-moz-border-bottom-colors: grey;
	-moz-border-left-colors: grey;
}

#vINotificationTextbox.border {
      border-style: solid !important;
      border-right-style: none !important;
      border-width: 1px !important;
}

#vI-status-menu[save="off"] {
	list-style-image: url("chrome://v_identity/skin/vI_gr.png");
	visibility: visible;
}

#vI-status-menu[save="ok"] {
	list-style-image: url("chrome://v_identity/skin/vI_gn.png");
	visibility: visible;
}

#vI-status-menu[save="base"] {
	list-style-image: url("chrome://v_identity/skin/vI_ge.png");
	visibility: visible;
}

#vI-status-menu[save="ok"][smtp="save"] {
	list-style-image: url("chrome://v_identity/skin/vI_bl.png");
	visibility: visible;
}

#vI-status-menu[save="base"][smtp="save"] {
	list-style-image: url("chrome://v_identity/skin/vI_gebl.png");
	visibility: visible;
}

treechildren::-moz-tree-cell-text(user) {
	font-weight: bold;
}

treechildren::-moz-tree-cell-text(locked) {
	font-style: italic;
}

#upgradeWizard, #vi_Dialog {
	width: 550px;
	height: 370px;
}

#upgradeWizard wizardpage {
	overflow:	hidden;
}

#upgradeWizard browser {
	height:		185px;
}

#upgradeWizard textbox {
	height:		175px;
}
	
.v_identity_logo_button {
	-moz-appearance: toolbarbutton;
	border: medium none ; background-color: transparent;
}

#vINotification {
  -moz-binding: url("chrome://v_identity/content/vI_notificationBar.xml#vI_notificationbox");
  -moz-box-orient: vertical;
  overflow-y: hidden;
}

#vINotification notification {
  -moz-binding: url("chrome://v_identity/content/vI_notificationBar.xml#vI_notification");
}

.vINotificationLogo {
	margin: 0;
	padding: 0;
}

#vIDebugBox, #vIErrorBox{
	overflow: auto;
	font-size: x-small;
	height: 10em;
}

.identity_clone-menulist {
	-moz-binding: url(chrome://v_identity/content/v_identity.xml#fromMenuList_clone);
	-moz-appearance: textfield;
	margin: 2px 4px;
	border: 2px solid;
	-moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
	-moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
	-moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
	padding: 0px;
	background-color: -moz-Field;
	color: -moz-FieldText;
}

.description-treecell {
	-moz-binding: url("chrome://v_identity/content/v_identity.xml#descriptionTreeCell");
	color: red;
}

.identity_clone-menulist .smtpServerHbox, .identity_clone-menulist .smtpServerMenuList, .identity_clone-menulist .smtpServerMenuList .menulist-label-box {
	border: medium none ; margin: 0px; height: 1em; max-height: 1em;
}


.identity_clone-menulist .smtpServerMenuList .menuitem-non-iconic {
	padding: 0;
}

.identity_clone-menulist .smtpServerMenuList .menuitem-label {
	text-align:	center;
}

.identity_clone-menulist .smtpServerMenuList .menulist-icon, .smtpServerMenuList .menulist-dropmarker {
	display: none;
}

.identity_clone-menulist[showSmtp="false"] .smtpServerMenuList, .identity_clone-menulist[showSmtp="false"] .menupopup_clone-smtp {
	display: none;
}

.autoReplyTo {
	-moz-binding: url("chrome://v_identity/content/v_identity.xml#autoReplyTo");
}


.identityDataTooltip {
	-moz-binding: url("chrome://v_identity/content/v_identity.xml#vI_identityDataTooltip");
}

#vI_tooltipPopupset {
	-moz-binding: url("chrome://v_identity/content/v_identity.xml#tooltipPopupset");
}

.vI_htmlTextBox {
	-moz-binding: url("chrome://v_identity/content/vI_htmlTextBox.xml#vI_htmlTextBox");
}

.identity_clone-popup-item {
	-moz-binding: url("chrome://v_identity/content/v_identity.xml#fromPopupItem_clone");
	padding: 0;
	margin: 0;
}

.auto-reply-to {
	-moz-binding: url("chrome://v_identity/content/v_identity.xml#autoReplyTo");
}

.menulist_clone-icon {
	margin: 	-2px 0pt -2px 3px;
}

.menupopup_clone-icon{
	margin: 	0 3px;
	padding:	0;
}

.menulist_clone-textbox, .menupopup_clone-text, .menupopup_clone-description {
	margin:		0;
	padding: 	1px;
	background-color: transparent;
	background-image: none;
	outline:	none;
}


.menulist_clone-textbox .textbox-search-icons {
	display:	none;
}

.menu_clone-vid, .menupopup_clone-vid {
	margin: 	0 5px 0 0;
	font-style:	italic;
	color:		graytext;
}

.menupopup_clone-vid {
	margin: 0;
	padding-left: 0;
}
.menupopup_clone-description, .menu_clone-description {
	margin: 	0 5px 0 0;
	font-style:	italic;
	color:		graytext;
}

.menupopup_clone-description {
	margin: 	0 2px 0 0;
	padding-right:	0;
}

.menupopup_clone-smtp {
	margin: 1px 0pt 1px 4px;
	text-align: center;
	color: graytext;
}

.identity_clone-menulist[vid="true"], .identity_clone-popup-item[vid="true"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
	-moz-image-region: rect(0px 16px 16px 0px);	
}

.identity_clone-menulist[vid="false"], .identity_clone-popup-item[vid="false"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

/*  this is only for TB < 3 to indicate virtual Identity, now done with autocomplete css */
/*.menulist_clone-textbox[nomatch="true"] {
  	color: green;
}*/

.virtIdLabel[vid="false"], .v_identity_logo[vid="false"] {
	display:	none;
}
.virtIdLabel {
	margin-right: 0px;
}


/* indicates a new indentity in menu */
/* the alternate is the person-icon, which is defined elsewhere */
.new-icon {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

#fromPopupItem_clone .menulist-menupopup {
	padding: 0;
}

.messageImage {
	width: 16px;
	height: 16px;
	margin: 0px 6px 0px 6px;
}

.messageText {
	-moz-margin-start: 5px;
}

.messageButton {
	margin: 0px 5px 0px 5px;
}

.vINotificationCloseButton {
	display: inline;
	padding: 4px 2px !important;
	-moz-appearance: none;
	-moz-image-region: rect(0px, 56px, 14px, 42px);
	height: 24px;
	border: none !important;
	cursor: default;
	list-style-image: url("chrome://v_identity/skin/close.png");
}

.vINotificationCloseButton:hover {
	-moz-image-region: rect(0px, 28px, 14px, 14px);
	opacity: 1.0;
}

.vINotificationCloseButton:hover:active {
	-moz-image-region: rect(0px, 42px, 14px, 28px);
	opacity: 1.0;
}

.vINotificationCloseButton:focus {
	outline: none !important;
}

#storageExtrasWarning {
	font-style: italic;
	margin-top: 20px;
}
