#vI_Dialog { 
	width: 550px;
	height: 320px;
	padding: 0;
} 

.dialog-button-box {
	padding: 0pt 10px 10px;
} 

.replaceVIdentity .dialog-content-box { border: 10px solid #d8e0e8; }
.replaceVIdentity .dialog-button-box,
.replaceVIdentity #vI_Dialog_title,
.replaceVIdentity #vI_Dialog_query { background-color: #d8e0e8; }

.updateStorage .dialog-content-box { border: 10px solid infobackground; }
.updateStorage .dialog-button-box,
.updateStorage #vI_Dialog_title,
.updateStorage #vI_Dialog_query { background-color: infobackground; }

#vI_Dialog_title {
	font-size: medium;
	font-weight:bold;
	margin: 0pt 0pt 1em;
	padding: 1px 5px 2em 6px;
}

#vI_Dialog_recLabel {
	font-size: small;
	font-weight: normal;
}

#vI_Dialog_recipient {
	font-size: small;
	font-weight:bold;
	text-align: center;
	margin-bottom:2em;
}

#vI_Dialog_browser {
	height:		100px;
}

.vI_htmlTextBox {
  -moz-binding: url("chrome://v_identity/content/vI_htmlTextBox.xml#vI_htmlTextBox");
}

#vI_Dialog_query {
	text-align: right;
	font-size: medium;
	font-weight:bold;
	margin: 1em 0pt 0pt;
	padding: 1em 5px 1px 6px;
}
