@import url("chrome://global/skin/");
@import url("chrome://v_identity/locale/logo.css"); 
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mismatchLine {
    -moz-binding: url("chrome://v_identity/content/bindings/vI_rdfAccountMismatchDialog.xml#mismatch-line");
    padding: 10px;
}

.mismatchMenulist {
    -moz-binding: url("chrome://v_identity/content/bindings/vI_rdfAccountMismatchDialog.xml#mismatch-menulist");
    margin: 5px;
}

.mismatchMenupopup {
    -moz-binding: url("chrome://v_identity/content/bindings/vI_rdfAccountMismatchDialog.xml#mismatch-menupopup");
}

.identityDesc-count-cell {
  text-align: center;
}

.selectorListitem {
    -moz-binding: url("chrome://v_identity/content/prefDialog/vI_prefDialog.xml#selectorListitem");
}
.identitySelector {
    -moz-binding: url("chrome://v_identity/content/prefDialog/vI_prefDialog.xml#identitySelector");
}

.mismatchMenuitem {
    -moz-binding: url("chrome://v_identity/content/bindings/vI_rdfAccountMismatchDialog.xml#mismatch-menuitem");
}

.identityDesc-count {
  text-align: center;
}

.identityDesc-pre, .identityDesc-mid, .identityDesc-post {
  margin: 0;
}


/*.identityDesc-ext1, .identityDesc-ext2, .identityDesc-count {
    font-style: italic;
    color:      graytext;
}*/

#virtualIdentityExtension_rdfDataEditorContent checkbox.vI_plain {
	display: none;
}

.vI_msgIdentity-menulist .contentHbox {
	padding-right: 0.25em;
}

#identityHbox[checked="true"][colorize="true"] textbox, #identityHbox[checked="true"][colorize="true"] .virtIdLabel, .baseIDHbox[checked="true"][colorize="true"] {
	background-color: rgb(235, 245, 235);
}
#identityHbox {
	padding-right: 0.25em;
}
.baseIDHbox {
	padding-left: 0.25em;
}
.baseIDHbox[checked="true"][colorize="true"][disabled="true"] {
	background-color: transparent;
}

checkbox.vI_plain > .checkbox-spacer-box > .checkbox-check {
	width: 0px;
}
checkbox.vI_plain > .checkbox-label-center-box, checkbox.vI_plain > .checkbox-label-box {
	display: none;
}

#virtualIdentityExtension_rdfAccountMismatchDialog_groupbox description {
        font-size: normal;
        font-weight: bold;
}

checkbox.vI_plain {
	margin: 0px;
	height: 0px;
	padding: 0px;
}

.widthXX { width: 36em; }
.widthX { width: 18em; }
.heightS { height: 3px; }
spacer#beforeStorage { width: 100px; }
spacer.widthS { width : 20px; }
spacer.paragraph { height: 10px; }

tabpanels.plain {
	border: medium none  ! important;
	-moz-appearance: none ! important;
}

tree.vIprefTree {
	width: 15em;
}

#logoButton2 {
	margin-left: 2em; margin-top: -1em;
}

#viewGroup {
	padding: 5px;
}

/* Mac version modifications */
#viewGroup {
	-moz-appearance: none !important;
}

#viewGroup > * {
	-moz-border-image: none !important;
	-moz-box-align: stretch !important;
}
/* End Mac version modifications */
#viewGroup radio {
	-moz-appearance: none;
	min-width: 4.5em;
	margin: 0;
	padding: 3px;
	list-style-image: url("chrome://v_identity/skin/PrefIcons.png");
	-moz-box-orient: vertical;
	-moz-box-align: center !important;
}

#viewGroup radio:hover {
	border: 1px solid #ff9c9c;
	margin: -1px;
	background-color: white;
	background-color: transparent;
}

#viewGroup radio[selected="true"] {
	border: 1px solid #870000;
	margin: -1px;
	background-color: white;
	background-color: transparent;
}

radio#sourceEmail 			{ -moz-image-region: rect(0px, 338px, 52px, 280px) }
radio#sourceEmail[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 338px, 156px, 280px) }
radio#sourceEmail:hover 		{ -moz-image-region: rect(52px, 338px, 104px, 280px) }
radio#selection 		{ -moz-image-region: rect(0px, 168px, 52px, 112px) }
radio#selection[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 168px, 156px, 112px) }
radio#selection:hover 		{ -moz-image-region: rect(52px, 168px, 104px, 112px) }
radio#composeDialog 			{ -moz-image-region: rect(0px, 112px, 52px, 56px) }
radio#composeDialog[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 112px, 156px, 56px) }
radio#composeDialog:hover 		{ -moz-image-region: rect(52px, 112px, 104px, 56px) }
radio#emailOut 			{ -moz-image-region: rect(0px, 56px, 52px, 0px) }
radio#emailOut[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 56px, 156px, 0px) }
radio#emailOut:hover 		{ -moz-image-region: rect(52px, 56px, 104px, 0px) }
radio#storageOut 			{ -moz-image-region: rect(0px, 280px, 52px, 224px) }
radio#storageOut[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 280px, 156px, 224px) }
radio#storageOut:hover 			{ -moz-image-region: rect(52px, 280px, 104px, 224px) }
radio#options 			{ -moz-image-region: rect(0px, 393px, 52px, 335px) }
radio#options[featureDisabled="true"] 	{ -moz-image-region: rect(104px, 393px, 156px, 335px) }
radio#options:hover 		{ -moz-image-region: rect(52px, 393px, 104px, 335px) }

#viewGroup image.arrow {
	list-style-image: url("chrome://v_identity/skin/Arrows.png");
}

image#toSelection, image#toCompose, image#toSend { -moz-image-region: rect(0px, 64px, 30px, 47px) }
image#toSelection[featureDisabled="true"], image#toCompose[featureDisabled="true"], image#toSend[featureDisabled="true"] 	{ -moz-image-region: rect(30px, 64px, 60px, 47px) }
image#storageUpDown 			{ -moz-image-region: rect(0px, 30px, 30px, -1px) }
image#storageUpDown[featureDisabled="true"] 	{ -moz-image-region: rect(30px, 30px, 60px, -1px) }
image#storageUp 			{ -moz-image-region: rect(0px, 48px, 30px, 30px) }
image#storageUp[featureDisabled="true"]		{ -moz-image-region: rect(30px, 48px, 60px, 30px) }


#prefTabbox {
	border: 1px inset threedface; padding: 5px; background-color: white;
}

#prefTabbox tabpanels {
	padding: 0px;
}

#prefTabbox tabpanel {
	padding: 8px; background-color: -moz-dialog;
}

#prefTabbox tabs {
	padding-left: 8px;
}

#prefTabbox radio .radio-check {
  display: none;
}

.paneButtonIcon {
	width: 56px;
	height: 52px;
}

treechildren::-moz-tree-cell(no) {
	background-repeat:no-repeat;
	background-position: center;
	background-image: url("chrome://v_identity/skin/notchecked-unequal.png");
}
treechildren::-moz-tree-cell(yes) {
	background-repeat:no-repeat;
	background-position: center;
	background-image: url("chrome://v_identity/skin/checked-unequal.png");
}

#virtualIdentityExtension_statusMenuTooltip {
	text-align: center;
	font-size: x-small;
}

#virtualIdentityExtension_statusMenuTooltip_StatusValueLine1, #virtualIdentityExtension_statusMenuTooltip_StatusValueLine2 {
	font-weight: bold;
	font-size: small;
}

#virtualIdentityExtension_statusMenuTooltip_Change {
	margin-top: 1em;
	font-style: italic;
}

#virtualIdentityExtension_vINotificationTitle {
	text-align: right;
	font-weight: bold;
}

#virtualIdentityExtension_vINotificationTextbox {
	background-color: transparent;
	margin: 5px !important;
	margin-left: 20px !important;
	-moz-border-top-colors: grey;
	-moz-border-right-colors: grey;
	-moz-border-bottom-colors: grey;
	-moz-border-left-colors: grey;
}

#virtualIdentityExtension_vINotificationTextbox.border {
      border-style: solid !important;
      border-right-style: none !important;
      border-width: 1px !important;
}

#virtualIdentityExtension_vIStatusMenu[save="off"] {
	list-style-image: url("chrome://v_identity/skin/vI_gr.png");
	visibility: visible;
}

#virtualIdentityExtension_vIStatusMenu[save="ok"] {
	list-style-image: url("chrome://v_identity/skin/vI_gn.png");
	visibility: visible;
}

#virtualIdentityExtension_vIStatusMenu[save="base"] {
	list-style-image: url("chrome://v_identity/skin/vI_ge.png");
	visibility: visible;
}

treechildren::-moz-tree-cell-text(user) {
	font-weight: bold;
}

treechildren::-moz-tree-cell-text(locked) {
	font-style: italic;
}

#upgradeWizard, #vi_Dialog {
	width: 550px;
	height: 370px;
}

#upgradeWizard wizardpage {
	overflow:	hidden;
}

#upgradeWizard browser {
	height:		185px;
}

#upgradeWizard textbox {
	height:		175px;
}
	
.virtualIdentityExtension_Logo_button {
	-moz-appearance: toolbarbutton;
	border: medium none ; background-color: transparent;
}

#virtualIdentityExtension_vINotification {
  -moz-binding: url("chrome://global/content/bindings/notification.xml#notificationbox");
  -moz-box-orient: vertical;
  overflow: hidden;
}

#virtualIdentityExtension_vINotification notification {
  -moz-binding: url("chrome://v_identity/content/bindings/vI_notificationBox.xml#vI_notification");
}

#virtualIdentityExtension_vINotification .messageImage {
  display: none;
}

.virtualIdentityExtension_vINotificationLogo {
	margin: 0 0.5em 0 0.5em;
	padding: 0;
}

.v_identity_logo_statusbar {
    padding-top: 5px
}

#virtualIdentityExtension_debugBox {
    -moz-binding: url("chrome://v_identity/content/bindings/vI_debugBox.xml#vI_debugBox");
}

#virtualIdentityExtension_debugBox, #virtualIdentityExtension_vIErrorBox{
    overflow: auto;
    font-size: x-small;
    height: 10em;
}

#identityHbox .menulist-editable-input[nomatch="true"][highlightnonmatches="true"] {
  color: red;
}

#msgIdentity {
	-moz-binding: url("chrome://v_identity/content/bindings/v_identity.xml#fromMenuList");
}

#msgIdentity menuitem {
        -moz-binding: url("chrome://v_identity/content/bindings/v_identity.xml#fromPopupItem");
}

.description-treecell {
	-moz-binding: url("chrome://v_identity/content/bindings/v_identity.xml#descriptionTreeCell");
	color: red;
}

.identityDataTooltip {
	-moz-binding: url("chrome://v_identity/content/bindings/v_identity.xml#vI_identityDataTooltip");
}

#virtualIdentityExtension_tooltipPopupset {
	-moz-binding: url("chrome://v_identity/content/bindings/v_identity.xml#vI_tooltipPopupset");
}

.vI_htmlTextBox {
	-moz-binding: url("chrome://v_identity/content/bindings/vI_htmlTextBox.xml#vI_htmlTextBox");
}

.virtualIdentityExtension_remoteBrowserBox {
	-moz-binding: url("chrome://v_identity/content/bindings/vI_htmlTextBox.xml#virtualIdentityExtension_remoteBrowserBox");
	margin: 0;
	-moz-appearance: listbox;
	padding: 3px;
}

.vI_msgIdentity-popup-item {
	-moz-binding: url("chrome://v_identity/content/bindings/v_identity.xml#vI_menupopupItem");
	padding: 0;
	margin: 0;
}

.vI_menupopup-icon{
	margin: 	0 3px;
	padding:	0;
}

.vI_menupopup-text, .vI_menupopup-description {
	margin:		0;
	padding: 	1px;
	background-color: transparent;
	background-image: none;
	outline:	none;
}


#identityHbox .menulist-editable-input .textbox-search-icons, #identityHbox .menulist-editable-input .textbox-search-sign {
	display:	none;
}

.vI_menu-vid, .vI_menupopup-vid {
	margin: 	0 5px 0 0;
	font-style:	italic;
	color:		graytext;
}

.vI_menupopup-vid {
	margin: 0;
	padding-left: 0;
}
.vI_menupopup-description, .vI_menupopup-idDescription, .vI_menu-description, .vI_menu-idDescription {
	margin: 	0 5px 0 0;
	font-style:	italic;
	color:		graytext;
}

.vI_menupopup-description {
	margin: 	0 2px 0 0;
	padding-right:	0;
}

#msgIdentityPopup menuitem[command="cmd_customizeFromAddress"] {
        display: none;
}

#fromMenuList[vid="true"], .vI_msgIdentity-popup-item[vid="true"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
	-moz-image-region: rect(0px 16px 16px 0px);	
}

.vI_menupopupItem[vid="false"] .vI_menupopup-idDescription, #msgIdentity[vid="false"] .vI_menu-idDescription {
        display: none;
}
.vI_menupopupItem[vid="true"] .vI_menupopup-description, #msgIdentity[vid="true"] .vI_menu-description {
        display: none;
}

#fromMenuList[vid="false"], .vI_msgIdentity-popup-item[vid="false"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

.virtIdLabel[vid="false"], .virtualIdentityExtension_Logo[vid="false"] {
	display:	none;
}
.virtIdLabel {
	margin-right: 0px;
}


/* indicates a new indentity in menu */
/* the alternate is the person-icon, which is defined elsewhere */
.new-icon {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

#vI_menupopupItem .menulist-menupopup {
	padding: 0;
}

.messageImage {
	width: 16px;
	height: 16px;
	margin: 0px 6px 0px 6px;
}

.messageText {
	-moz-margin-start: 5px;
}

.messageButton {
	margin: 0px 5px 0px 5px;
}

.virtualIdentityExtension_vINotificationCloseButton {
	display: inline;
	padding: 4px 2px !important;
	-moz-appearance: none;
	-moz-image-region: rect(0px, 56px, 14px, 42px);
	height: 24px;
	border: none !important;
	cursor: default;
	list-style-image: url("chrome://v_identity/skin/close.png");
}

.virtualIdentityExtension_vINotificationCloseButton:hover {
	-moz-image-region: rect(0px, 28px, 14px, 14px);
	opacity: 1.0;
}

.virtualIdentityExtension_vINotificationCloseButton:hover:active {
	-moz-image-region: rect(0px, 42px, 14px, 28px);
	opacity: 1.0;
}

.virtualIdentityExtension_vINotificationCloseButton:focus {
	outline: none !important;
}

#storageExtrasWarning {
	font-style: italic;
	margin-top: 20px;
}

#virtualIdentityExtension_rdfDataEditorContent .menu-iconic-text {
    padding-left: 20px;
}
