/*
This css is used in the improved Tooltip
The css will be loaded with htmlTextBox.__setCSS() because the
embedded browser is not able to access chrome
*/


#recipientLabel {
	margin-bottom: 10px;
	font-size: x-large;
	font-weight: bold;
	font-style: italic;
}

img {
	margin-right: 20px;
	margin-top: 5px;
}

div.bool {
	background-repeat:no-repeat;
	background-position: center;
	min-width: 14px;
}

div.bool.image {
	background-image: url("chrome://v_identity/skin/notchecked-unequal.png");
}
div.bool.checked.image {
	background-image: url("chrome://v_identity/skin/checked-unequal.png");
}

body {
	margin: 0px;
	background-color: -moz-field;
	padding: 20px;
}

td {
	padding-right: 10px;
	padding-left: 10px;
}

table {
	background-color: #eee;
	border-radius: 10px;
	font-size: small;
	border-collapse: collapse;
	margin: auto;
}

div.name {
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 0.5em;
	font-size: medium;
}

.col2 {
	padding-left: 1em;
	text-align: center;
}
