/*
This css is used in the improved Tooltip
The css will be loaded with htmlTextBox.__setCSS() because the
embedded browser is not able to access chrome
*/

img {
	margin-right: 20px;
	margin-top: 5px;
}

div.bool {
	background-repeat:no-repeat;
	background-position: center;
	min-width: 14px;
}

div.bool.image {
	background-image: url("chrome://v_identity/skin/notchecked-unequal.png");
}
div.bool.checked.image {
	background-image: url("chrome://v_identity/skin/checked-unequal.png");
}

body {
	margin: 0px;
    color: infotext;
    overflow: hidden;
}

table {
	font-size: small;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 0.7em;
}

div.name {
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 0.5em;
	font-size: medium;
}

.col2 {
	padding-left: 1em;
	text-align: center;
}
